/*
 * Font smoothing.
 * This is a niche setting that will not be available via Global Styles.
 * https://github.com/WordPress/gutenberg/issues/35934
 */

html {
	font-size: 18px;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	font-family: var(--wp--custom--bodyfont);
}

* {
	box-sizing: border-box;
}

/* Elements */
img {
	max-width: 100%;
	height: auto;
}
/*
 * Text link styles.
 * Necessary until the following issue is resolved in Gutenberg:
 * https://github.com/WordPress/gutenberg/issues/27075
 */

a {
	color: var(--wp--custom--links--color);
	text-decoration-thickness: 1px;
	text-underline-offset: 0.25ch;
	transition: all 0.3s;

	&:hover,
	&:focus {
		text-decoration-style: dashed;
		filter: brightness(1.2);
	}

	:active {
		text-decoration: none;
	}
}



